


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "extensions";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "hypopg" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "index_advisor" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE TYPE "public"."app_role" AS ENUM (
    'superadmin',
    'power_admin',
    'project_manager',
    'it_specialist',
    'supervisor'
);


ALTER TYPE "public"."app_role" OWNER TO "postgres";


CREATE TYPE "public"."user_role" AS ENUM (
    'super_admin',
    'pm',
    'supervisor',
    'it_specialist',
    'project_manager',
    'power_admin',
    'user',
    'hr_admin'
);


ALTER TYPE "public"."user_role" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."create_leave_balances"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  INSERT INTO public.hr_leave_balances (employee_id) VALUES (NEW.id);
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."create_leave_balances"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_next_asset_tag"("year_prefix" "text") RETURNS "text"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  last_tag text;
  next_num integer;
BEGIN
  SELECT asset_tag INTO last_tag
  FROM assets
  WHERE asset_tag LIKE 'CD' || year_prefix || '-%'
  ORDER BY asset_tag DESC
  LIMIT 1;

  IF last_tag IS NULL THEN
    next_num := 1;
  ELSE
    BEGIN
        next_num := CAST(SUBSTRING(last_tag FROM 8) AS INTEGER) + 1;
    EXCEPTION WHEN OTHERS THEN
        next_num := 1;
    END;
  END IF;

  RETURN 'CD' || year_prefix || '-' || LPAD(next_num::text, 5, '0');
END;
$$;


ALTER FUNCTION "public"."generate_next_asset_tag"("year_prefix" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_dashboard_metrics"() RETURNS json
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_total_employees INTEGER;
  v_active_employees INTEGER;
  v_attendance_today INTEGER;
  v_on_leave_today INTEGER;
  v_payroll_current NUMERIC;
  current_month TEXT;
BEGIN
  SELECT count(*) INTO v_total_employees FROM public.hr_employees;
  SELECT count(*) INTO v_active_employees FROM public.hr_employees WHERE status = 'active';
  
  SELECT count(*) INTO v_attendance_today FROM public.hr_attendance WHERE date = CURRENT_DATE;
  
  SELECT count(*) INTO v_on_leave_today FROM public.hr_leave_requests 
  WHERE status = 'approved' AND CURRENT_DATE BETWEEN start_date AND end_date;
  
  current_month := to_char(CURRENT_DATE, 'YYYY-MM');
  SELECT COALESCE(sum(net_salary), 0) INTO v_payroll_current FROM public.hr_payroll WHERE month = current_month;

  RETURN json_build_object(
    'total_employees', v_total_employees,
    'active_employees', v_active_employees,
    'attendance_today_count', v_attendance_today,
    'employees_on_leave_today', v_on_leave_today,
    'payroll_total_current_month', v_payroll_current
  );
END;
$$;


ALTER FUNCTION "public"."get_dashboard_metrics"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  INSERT INTO public.profiles (id, email, role) -- Ensure these columns exist!
  VALUES (
    new.id, 
    new.email, 
    'user' -- Ensure 'user' is a valid value if you used an ENUM
  );
  RETURN new;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."hr_approve_leave"("p_leave_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    v_total_days integer; v_employee_id uuid; v_balance integer; v_status text;
BEGIN
    SELECT total_days, employee_id, status INTO v_total_days, v_employee_id, v_status
    FROM public.hr_leave_requests WHERE id = p_leave_id FOR UPDATE;

    IF v_status != 'pending' THEN RAISE EXCEPTION '╪º┘ä╪╖┘ä╪¿ ┘ä┘è╪│ ┘é┘è╪» ╪º┘ä╪º┘å╪¬╪╕╪º╪▒'; END IF;

    SELECT annual_leave_balance INTO v_balance FROM public.hr_employees
    WHERE id = v_employee_id FOR UPDATE;

    IF v_balance < v_total_days THEN 
        RAISE EXCEPTION '╪▒╪╡┘è╪» ╪║┘è╪▒ ┘â╪º┘ü┘ì. ╪º┘ä┘à╪¬╪¿┘é┘è: % ┘è┘ê┘à', v_balance; 
    END IF;

    UPDATE public.hr_employees SET annual_leave_balance = annual_leave_balance - v_total_days WHERE id = v_employee_id;
    UPDATE public.hr_leave_requests SET status = 'approved' WHERE id = p_leave_id;
END;
$$;


ALTER FUNCTION "public"."hr_approve_leave"("p_leave_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."hr_delete_employees"("p_ids" "uuid"[]) RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- ╪º┘ä╪¬╪¡┘é┘é ┘à┘å ╪º┘ä╪╡┘ä╪º╪¡┘è╪⌐
  IF NOT public.is_hr_admin() THEN
    RAISE EXCEPTION '╪╣╪░╪▒╪º┘ï╪î ┘ä╪º ╪¬┘à╪¬┘ä┘â ╪╡┘ä╪º╪¡┘è╪⌐ ╪¡╪░┘ü ╪¿┘è╪º┘å╪º╪¬ ╪º┘ä┘à┘ê╪╕┘ü┘è┘å.';
  END IF;

  -- ╪¡╪░┘ü ╪º┘ä┘à┘ê╪╕┘ü┘è┘å (╪│┘è╪¬┘à ╪¡╪░┘ü ╪º┘ä╪¡╪╢┘ê╪▒ ┘ê╪º┘ä╪▒┘ê╪º╪¬╪¿ ╪¬┘ä┘é╪º╪ª┘è╪º┘ï ╪¿╪│╪¿╪¿ ON DELETE CASCADE)
  DELETE FROM public.hr_employees WHERE id = ANY(p_ids);
END;
$$;


ALTER FUNCTION "public"."hr_delete_employees"("p_ids" "uuid"[]) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."hr_reject_leave"("p_leave_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    UPDATE public.hr_leave_requests SET status = 'rejected' WHERE id = p_leave_id AND status = 'pending';
    IF NOT FOUND THEN RAISE EXCEPTION '╪º┘ä╪╖┘ä╪¿ ╪║┘è╪▒ ┘à┘ê╪¼┘ê╪» ╪ú┘ê ╪¬┘à╪¬ ┘à╪╣╪º┘ä╪¼╪¬┘ç ┘à╪│╪¿┘é╪º┘ï'; END IF;
END;
$$;


ALTER FUNCTION "public"."hr_reject_leave"("p_leave_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_status" "text") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  IF p_id IS NULL THEN
    -- Insert new employee
    INSERT INTO public.hr_employees (
      full_name, email, phone, national_id, gender, date_of_birth, education,
      hire_date, job_title, department, project, basic_salary, variable_salary, status
    ) VALUES (
      p_full_name, p_email, p_phone, p_national_id, p_gender, p_date_of_birth, p_education,
      p_hire_date, p_job_title, p_department, p_project, p_basic_salary, p_variable_salary, p_status
    );
  ELSE
    -- Update existing employee
    UPDATE public.hr_employees SET
      full_name = p_full_name,
      email = p_email,
      phone = p_phone,
      national_id = p_national_id,
      gender = p_gender,
      date_of_birth = p_date_of_birth,
      education = p_education,
      hire_date = p_hire_date,
      job_title = p_job_title,
      department = p_department,
      project = p_project,
      basic_salary = p_basic_salary,
      variable_salary = p_variable_salary,
      status = p_status,
      updated_at = timezone('utc'::text, now())
    WHERE id = p_id;
  END IF;
END;
$$;


ALTER FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_status" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_employee_code" "text", "p_address" "text", "p_insurance_number" "text", "p_insurance_date" "date", "p_status" "text") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  IF p_id IS NULL THEN
    -- Insert new employee
    INSERT INTO public.hr_employees (
      full_name, email, phone, national_id, gender, date_of_birth, education,
      hire_date, job_title, department, project, basic_salary, variable_salary,
      employee_code, address, insurance_number, insurance_date, status
    ) VALUES (
      p_full_name, p_email, p_phone, p_national_id, p_gender, p_date_of_birth, p_education,
      p_hire_date, p_job_title, p_department, p_project, p_basic_salary, p_variable_salary,
      p_employee_code, p_address, p_insurance_number, p_insurance_date, p_status
    );
  ELSE
    -- Update existing employee
    UPDATE public.hr_employees SET
      full_name = p_full_name,
      email = p_email,
      phone = p_phone,
      national_id = p_national_id,
      gender = p_gender,
      date_of_birth = p_date_of_birth,
      education = p_education,
      hire_date = p_hire_date,
      job_title = p_job_title,
      department = p_department,
      project = p_project,
      basic_salary = p_basic_salary,
      variable_salary = p_variable_salary,
      employee_code = p_employee_code,
      address = p_address,
      insurance_number = p_insurance_number,
      insurance_date = p_insurance_date,
      status = p_status,
      updated_at = timezone('utc'::text, now())
    WHERE id = p_id;
  END IF;
END;
$$;


ALTER FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_employee_code" "text", "p_address" "text", "p_insurance_number" "text", "p_insurance_date" "date", "p_status" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."hr_update_employee"("p_id" "uuid" DEFAULT NULL::"uuid", "p_full_name" "text" DEFAULT NULL::"text", "p_email" "text" DEFAULT NULL::"text", "p_phone" "text" DEFAULT NULL::"text", "p_national_id" "text" DEFAULT NULL::"text", "p_gender" "text" DEFAULT NULL::"text", "p_date_of_birth" "date" DEFAULT NULL::"date", "p_education" "text" DEFAULT NULL::"text", "p_hire_date" "date" DEFAULT NULL::"date", "p_job_title" "text" DEFAULT NULL::"text", "p_department" "text" DEFAULT NULL::"text", "p_project" "text" DEFAULT NULL::"text", "p_basic_salary" numeric DEFAULT NULL::numeric, "p_variable_salary" numeric DEFAULT NULL::numeric, "p_employee_code" "text" DEFAULT NULL::"text", "p_address" "text" DEFAULT NULL::"text", "p_insurance_number" "text" DEFAULT NULL::"text", "p_insurance_date" "date" DEFAULT NULL::"date", "p_insurance_salary" numeric DEFAULT NULL::numeric, "p_status" "text" DEFAULT 'active'::"text") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  IF NOT public.is_hr_admin() THEN
    RAISE EXCEPTION '╪╣╪░╪▒╪º┘ï╪î ┘ä╪º ╪¬┘à╪¬┘ä┘â ╪╡┘ä╪º╪¡┘è╪⌐ ╪Ñ╪»╪º╪▒╪⌐ ╪¿┘è╪º┘å╪º╪¬ ╪º┘ä┘à┘ê╪╕┘ü┘è┘å.';
  END IF;

  IF p_id IS NULL THEN
    INSERT INTO public.hr_employees (
      full_name, email, phone, national_id, gender, date_of_birth, education,
      hire_date, job_title, department, project, basic_salary, variable_salary,
      employee_code, address, insurance_number, insurance_date, insurance_salary, status
    ) VALUES (
      p_full_name, p_email, p_phone, p_national_id, p_gender, p_date_of_birth, p_education,
      p_hire_date, p_job_title, p_department, p_project, p_basic_salary, p_variable_salary,
      p_employee_code, p_address, p_insurance_number, p_insurance_date, p_insurance_salary, p_status
    );
  ELSE
    UPDATE public.hr_employees SET
      full_name = p_full_name, email = p_email, phone = p_phone, national_id = p_national_id,
      gender = p_gender, date_of_birth = p_date_of_birth, education = p_education,
      hire_date = p_hire_date, job_title = p_job_title, department = p_department,
      project = p_project, basic_salary = p_basic_salary, variable_salary = p_variable_salary,
      employee_code = p_employee_code, address = p_address, insurance_number = p_insurance_number,
      insurance_date = p_insurance_date, insurance_salary = p_insurance_salary,
      status = p_status, updated_at = now()
    WHERE id = p_id;
  END IF;
END;
$$;


ALTER FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_employee_code" "text", "p_address" "text", "p_insurance_number" "text", "p_insurance_date" "date", "p_insurance_salary" numeric, "p_status" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_admin"() RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1 FROM public.hr_profiles
    WHERE id = auth.uid() AND role = 'admin'
  );
END;
$$;


ALTER FUNCTION "public"."is_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_hr_admin"() RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  u_role text;
BEGIN
  -- ╪¼┘ä╪¿ ╪º┘ä╪»┘ê╪▒ ┘à╪¿╪º╪┤╪▒╪⌐ ┘à┘å ┘à┘ä┘ü ╪º┘ä┘à╪│╪¬╪«╪»┘à
  SELECT role INTO u_role FROM public.profiles WHERE id::text = auth.uid()::text;
  
  RETURN (u_role IN ('super_admin', 'power_admin', 'it_specialist', 'hr_admin')) 
         OR (auth.role() = 'anon'); -- ┘ä┘ä╪│┘à╪º╪¡ ╪¿╪º┘ä╪╣┘à┘ä ┘ü┘è ╪¿┘è╪ª╪⌐ ╪º┘ä╪¬╪╖┘ê┘è╪▒
END;
$$;


ALTER FUNCTION "public"."is_hr_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."notify_pm_on_new_ticket"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- This sends a POST request to your Edge Function
  PERFORM
    net.http_post(
      url := 'https://your-project-ref.supabase.co/functions/v1/send-ticket-notification',
      headers := jsonb_build_object(
        'Content-Type', 'application/json',
        'Authorization', 'Bearer YOUR_ANON_KEY'
      ),
      body := jsonb_build_object(
        'ticket_id', NEW.id,
        'title', NEW.title,
        'priority', NEW.priority,
        'pm_id', NEW.pmId
      )
    );
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."notify_pm_on_new_ticket"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."register_assets_bulk"("assets_data" "jsonb", "year_prefix" "text", "project_id_input" "uuid", "user_id_input" "uuid") RETURNS "jsonb"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    last_tag text;
    next_num integer;
    asset_record jsonb;
    new_assets jsonb := '[]'::jsonb;
    inserted_record record;
    current_tag text;
BEGIN
    -- Lock table to prevent race conditions on ID generation during this transaction
    LOCK TABLE assets IN SHARE ROW EXCLUSIVE MODE;

    -- Find the highest tag that matches the pattern 'CD' + year_prefix + '-'
    SELECT asset_tag INTO last_tag
    FROM assets
    WHERE asset_tag LIKE 'CD' || year_prefix || '-%'
    ORDER BY asset_tag DESC
    LIMIT 1;

    -- Determine starting number
    IF last_tag IS NULL THEN
        next_num := 1;
    ELSE
        BEGIN
            next_num := CAST(SUBSTRING(last_tag FROM 8) AS INTEGER) + 1;
        EXCEPTION WHEN OTHERS THEN
            next_num := 1;
        END;
    END IF;

    -- Iterate through the JSON array
    FOR asset_record IN SELECT * FROM jsonb_array_elements(assets_data)
    LOOP
        -- Generate Tag
        current_tag := 'CD' || year_prefix || '-' || LPAD(next_num::text, 5, '0');
        
        -- Insert Record
        INSERT INTO assets (
            asset_tag,
            name,
            type,
            serial_number,
            location,
            project_id,
            assigned_user,
            status,
            purchase_date,
            cost,
            cpu,
            ram,
            storage,
            last_maintenance_date,
            audited_by,
            last_audit_date,
            current_counter
        ) VALUES (
            current_tag,
            asset_record->>'name',
            COALESCE(asset_record->>'type', 'Other'),
            COALESCE(asset_record->>'serialNumber', ''),
            '', -- Physical location removed from bulk input, defaulting to empty
            project_id_input,
            NULL, -- assigned_user (optional in bulk)
            COALESCE(asset_record->>'status', 'in_storage'), -- FIXED: Use status from payload
            COALESCE((asset_record->>'purchaseDate')::date, CURRENT_DATE),
            COALESCE((asset_record->>'cost')::numeric, 0),
            asset_record->>'cpu',
            asset_record->>'ram',
            asset_record->>'storage',
            CURRENT_DATE,
            user_id_input, -- The uploader validates it immediately
            CURRENT_TIMESTAMP,
            COALESCE((asset_record->>'currentCounter')::integer, 0)
        )
        RETURNING id, asset_tag, name, serial_number, location, type, status
        INTO inserted_record;

        -- Append to result array
        new_assets := new_assets || row_to_json(inserted_record)::jsonb;

        -- Increment counter
        next_num := next_num + 1;
    END LOOP;

    RETURN new_assets;
END;
$$;


ALTER FUNCTION "public"."register_assets_bulk"("assets_data" "jsonb", "year_prefix" "text", "project_id_input" "uuid", "user_id_input" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."run_monthly_leave_accruals"() RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    emp RECORD;
    pol RECORD;
    accrual_amount NUMERIC(5,2);
    current_yr INTEGER := extract(year from current_date);
BEGIN
    -- Loop over active employees
    FOR emp IN SELECT id FROM public.employees WHERE status = 'active' LOOP
        -- Loop over policies (simplification: assume all employees get all active policies)
        -- In a real app, you'd link policies to job titles, departments, or contracts.
        FOR pol IN SELECT id, days_per_year FROM public.leave_policies LOOP
            accrual_amount := pol.days_per_year / 12.0;
            
            -- Insert or update balance
            INSERT INTO public.leave_balances (employee_id, policy_id, year, total_accrued)
            VALUES (emp.id, pol.id, current_yr, accrual_amount)
            ON CONFLICT (employee_id, policy_id, year) 
            DO UPDATE SET 
                total_accrued = public.leave_balances.total_accrued + accrual_amount,
                updated_at = NOW();
        END LOOP;
    END LOOP;
END;
$$;


ALTER FUNCTION "public"."run_monthly_leave_accruals"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_leave_balance_on_approval"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    IF NEW.status = 'approved' AND OLD.status != 'approved' THEN
        -- Increase the 'used' amount in the balance table
        UPDATE public.leave_balances
        SET used = used + NEW.days_requested,
            updated_at = NOW()
        WHERE employee_id = NEW.employee_id 
          AND policy_id = NEW.policy_id 
          AND year = extract(year from NEW.start_date);
          
        -- Note: If no balance record exists for that policy/year, we might want to auto-create it, 
        -- but ideally an accrual job initializes them at the start of the year or hire date.
    END IF;

    -- Handle cancellations of already approved leaves
    IF NEW.status = 'cancelled' AND OLD.status = 'approved' THEN
        UPDATE public.leave_balances
        SET used = used - NEW.days_requested,
            updated_at = NOW()
        WHERE employee_id = NEW.employee_id 
          AND policy_id = NEW.policy_id 
          AND year = extract(year from NEW.start_date);
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_leave_balance_on_approval"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
   new.updated_at = now();
   return new;
end;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."assets" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "type" "text" NOT NULL,
    "status" "text" NOT NULL,
    "serial_number" "text",
    "last_maintenance_date" "date",
    "project_id" "uuid",
    "image_url" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "audited_by" "text",
    "last_audit_date" timestamp with time zone,
    "asset_tag" "text",
    "mac_address" "text",
    "cpu" "text",
    "ram" "text",
    "storage" "text",
    "purchase_date" timestamp with time zone,
    "cost" numeric,
    "assigned_user" "text",
    "department" "text",
    "location" "text",
    "current_counter" integer DEFAULT 0,
    CONSTRAINT "assets_status_check" CHECK (("status" = ANY (ARRAY['operational'::"text", 'faulty'::"text", 'maintenance'::"text", 'retired'::"text", 'in_use'::"text", 'in_storage'::"text"])))
);


ALTER TABLE "public"."assets" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."attendance" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "employee_id" "uuid",
    "date" "date" NOT NULL,
    "clock_in" time without time zone,
    "clock_out" time without time zone,
    "status" character varying(50) DEFAULT 'present'::character varying,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."attendance" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."departments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" character varying(255) NOT NULL,
    "manager_id" "uuid",
    "project_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."departments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."employees" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "first_name" character varying(100) NOT NULL,
    "last_name" character varying(100) NOT NULL,
    "national_id" character varying(50) NOT NULL,
    "email" character varying(255) NOT NULL,
    "phone" character varying(50),
    "date_of_birth" "date",
    "gender" character varying(20),
    "marital_status" character varying(50),
    "address" "text",
    "emergency_contact" "text",
    "hire_date" "date" NOT NULL,
    "employment_type" character varying(50) NOT NULL,
    "department_id" "uuid",
    "job_title_id" "uuid",
    "manager_id" "uuid",
    "project_id" "uuid",
    "work_location" character varying(255),
    "status" character varying(50) DEFAULT 'active'::character varying,
    "probation_end_date" "date",
    "user_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."employees" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."hr_attendance" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "employee_id" "uuid",
    "date" "date" NOT NULL,
    "check_in" time without time zone,
    "check_out" time without time zone,
    "late_minutes" integer DEFAULT 0,
    "overtime_minutes" integer DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."hr_attendance" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."hr_employees" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "full_name" "text" NOT NULL,
    "email" "text" NOT NULL,
    "phone" "text",
    "national_id" "text",
    "hire_date" "date" NOT NULL,
    "job_title" "text",
    "department" "text",
    "basic_salary" numeric NOT NULL,
    "status" "text" DEFAULT 'active'::"text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "gender" "text",
    "date_of_birth" "date",
    "education" "text",
    "project" "text",
    "variable_salary" numeric DEFAULT 0,
    "employee_code" "text",
    "address" "text",
    "insurance_number" "text",
    "insurance_date" "date",
    "insurance_salary" numeric DEFAULT 0,
    "annual_leave_balance" integer DEFAULT 21,
    CONSTRAINT "hr_employees_basic_salary_check" CHECK (("basic_salary" > (0)::numeric)),
    CONSTRAINT "hr_employees_gender_check" CHECK (("gender" = ANY (ARRAY['male'::"text", 'female'::"text", 'other'::"text"]))),
    CONSTRAINT "hr_employees_status_check" CHECK (("status" = ANY (ARRAY['active'::"text", 'inactive'::"text"])))
);


ALTER TABLE "public"."hr_employees" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."hr_holidays" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "start_date" "date" NOT NULL,
    "end_date" "date" NOT NULL,
    "type" "text" DEFAULT 'public'::"text",
    "description" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "hr_holidays_type_check" CHECK (("type" = ANY (ARRAY['public'::"text", 'company'::"text"])))
);


ALTER TABLE "public"."hr_holidays" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."hr_leave_balances" (
    "employee_id" "uuid" NOT NULL,
    "annual_balance" numeric DEFAULT 21,
    "sick_balance" numeric DEFAULT 10
);


ALTER TABLE "public"."hr_leave_balances" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."hr_leave_requests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "employee_id" "uuid",
    "leave_type" "text" NOT NULL,
    "start_date" "date" NOT NULL,
    "end_date" "date" NOT NULL,
    "total_days" integer NOT NULL,
    "status" "text" DEFAULT 'pending'::"text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "hr_leave_requests_leave_type_check" CHECK (("leave_type" = ANY (ARRAY['annual'::"text", 'sick'::"text", 'unpaid'::"text"]))),
    CONSTRAINT "hr_leave_requests_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'approved'::"text", 'rejected'::"text"]))),
    CONSTRAINT "hr_leave_requests_total_days_check" CHECK (("total_days" > 0))
);


ALTER TABLE "public"."hr_leave_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."hr_payroll" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "employee_id" "uuid",
    "month" "text" NOT NULL,
    "basic_salary" numeric NOT NULL,
    "overtime_amount" numeric DEFAULT 0,
    "late_deduction" numeric DEFAULT 0,
    "net_salary" numeric NOT NULL,
    "status" "text" DEFAULT 'draft'::"text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "hr_payroll_status_check" CHECK (("status" = ANY (ARRAY['draft'::"text", 'finalized'::"text"])))
);


ALTER TABLE "public"."hr_payroll" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."hr_profiles" (
    "id" "uuid" NOT NULL,
    "full_name" "text",
    "role" "text" DEFAULT 'user'::"text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "hr_profiles_role_check" CHECK (("role" = ANY (ARRAY['admin'::"text", 'user'::"text"])))
);


ALTER TABLE "public"."hr_profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."job_titles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "title" character varying(255) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."job_titles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."kpi_logs" (
    "id" "text" NOT NULL,
    "operator_id" "text",
    "supervisor_id" "text",
    "date" "text",
    "attitude" integer,
    "performance" integer,
    "quality" integer,
    "appearance" integer,
    "timestamp" bigint,
    "project_id" "uuid" DEFAULT '2d605c62-a0e5-4722-927e-bd98d7a8d2c2'::"uuid" NOT NULL,
    "daily_volume" numeric,
    "status" "text"
);


ALTER TABLE "public"."kpi_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."leave_balances" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "employee_id" "uuid",
    "policy_id" "uuid",
    "year" integer DEFAULT EXTRACT(year FROM CURRENT_DATE) NOT NULL,
    "total_accrued" numeric(5,2) DEFAULT 0,
    "used" numeric(5,2) DEFAULT 0,
    "balance" numeric(5,2) GENERATED ALWAYS AS (("total_accrued" - "used")) STORED,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."leave_balances" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."leave_policies" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" character varying(255) NOT NULL,
    "description" "text",
    "days_per_year" numeric(5,2) NOT NULL,
    "carry_over_limit" numeric(5,2) DEFAULT 0,
    "is_paid" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."leave_policies" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."leave_requests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "employee_id" "uuid",
    "policy_id" "uuid",
    "start_date" "date" NOT NULL,
    "end_date" "date" NOT NULL,
    "days_requested" numeric(5,2) NOT NULL,
    "status" character varying(50) DEFAULT 'pending'::character varying,
    "reason" "text",
    "manager_id" "uuid",
    "rejection_reason" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."leave_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."maintenance_requests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "asset_id" "uuid",
    "supervisor_id" "text",
    "project_id" "uuid",
    "priority" "text",
    "description" "text",
    "status" "text" DEFAULT 'pending'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "maintenance_requests_priority_check" CHECK (("priority" = ANY (ARRAY['low'::"text", 'medium'::"text", 'high'::"text", 'critical'::"text"]))),
    CONSTRAINT "maintenance_requests_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'in_progress'::"text", 'completed'::"text"])))
);


ALTER TABLE "public"."maintenance_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."operators" (
    "id" "text" NOT NULL,
    "name" "text",
    "phone" "text",
    "supervisor_id" "text",
    "project_id" "uuid" DEFAULT '2d605c62-a0e5-4722-927e-bd98d7a8d2c2'::"uuid"
);


ALTER TABLE "public"."operators" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "text" NOT NULL,
    "role" "public"."user_role" NOT NULL,
    "project_id" "text",
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "reports_to" "text",
    "email" "text",
    "name" "text",
    "username" "text",
    "team_name" "text"
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."projects" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "location" "text",
    "pm_id" "text"
);


ALTER TABLE "public"."projects" OWNER TO "postgres";


COMMENT ON COLUMN "public"."projects"."location" IS 'location';



CREATE TABLE IF NOT EXISTS "public"."team_stats" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "supervisor_id" "text" NOT NULL,
    "project_id" "text" NOT NULL,
    "date" "date" NOT NULL,
    "volume" integer DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."team_stats" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."tickets" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "title" "text" NOT NULL,
    "category" "text" NOT NULL,
    "assetid" "uuid",
    "description" "text" NOT NULL,
    "priority" "text" DEFAULT 'medium'::"text",
    "status" "text" DEFAULT 'open'::"text",
    "supervisorid" "uuid",
    "projectid" "uuid",
    "pmid" "uuid",
    "createdat" timestamp with time zone DEFAULT "now"(),
    "solvedat" timestamp with time zone,
    "closedat" timestamp with time zone,
    "created_by" "uuid",
    "pm_id" "uuid",
    "cost" numeric DEFAULT 0
);


ALTER TABLE "public"."tickets" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."unlock_requests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "operator_id" "text" NOT NULL,
    "operator_name" "text",
    "supervisor_id" "text" NOT NULL,
    "supervisor_name" "text",
    "project_id" "uuid",
    "logId" "text" NOT NULL,
    "reason" "text" NOT NULL,
    "status" "text" DEFAULT 'pending'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "date" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."unlock_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" NOT NULL,
    "username" "text",
    "password" "text",
    "name" "text",
    "role" "text",
    "team_name" "text",
    "project_id" "uuid",
    "reports_to" "text",
    "email" "text",
    "migrated_to_auth_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."users" OWNER TO "postgres";


ALTER TABLE ONLY "public"."assets"
    ADD CONSTRAINT "assets_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."attendance"
    ADD CONSTRAINT "attendance_employee_id_date_key" UNIQUE ("employee_id", "date");



ALTER TABLE ONLY "public"."attendance"
    ADD CONSTRAINT "attendance_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."departments"
    ADD CONSTRAINT "departments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_national_id_key" UNIQUE ("national_id");



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."hr_attendance"
    ADD CONSTRAINT "hr_attendance_employee_id_date_key" UNIQUE ("employee_id", "date");



ALTER TABLE ONLY "public"."hr_attendance"
    ADD CONSTRAINT "hr_attendance_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."hr_employees"
    ADD CONSTRAINT "hr_employees_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."hr_employees"
    ADD CONSTRAINT "hr_employees_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."hr_holidays"
    ADD CONSTRAINT "hr_holidays_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."hr_leave_balances"
    ADD CONSTRAINT "hr_leave_balances_pkey" PRIMARY KEY ("employee_id");



ALTER TABLE ONLY "public"."hr_leave_requests"
    ADD CONSTRAINT "hr_leave_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."hr_payroll"
    ADD CONSTRAINT "hr_payroll_employee_id_month_key" UNIQUE ("employee_id", "month");



ALTER TABLE ONLY "public"."hr_payroll"
    ADD CONSTRAINT "hr_payroll_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."hr_profiles"
    ADD CONSTRAINT "hr_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."job_titles"
    ADD CONSTRAINT "job_titles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."kpi_logs"
    ADD CONSTRAINT "kpi_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."leave_balances"
    ADD CONSTRAINT "leave_balances_employee_id_policy_id_year_key" UNIQUE ("employee_id", "policy_id", "year");



ALTER TABLE ONLY "public"."leave_balances"
    ADD CONSTRAINT "leave_balances_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."leave_policies"
    ADD CONSTRAINT "leave_policies_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."leave_requests"
    ADD CONSTRAINT "leave_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."maintenance_requests"
    ADD CONSTRAINT "maintenance_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."operators"
    ADD CONSTRAINT "operators_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "projects_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."team_stats"
    ADD CONSTRAINT "team_stats_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."team_stats"
    ADD CONSTRAINT "team_stats_supervisor_id_date_key" UNIQUE ("supervisor_id", "date");



ALTER TABLE ONLY "public"."tickets"
    ADD CONSTRAINT "tickets_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."unlock_requests"
    ADD CONSTRAINT "unlock_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_kpi_logs_project_id" ON "public"."kpi_logs" USING "btree" ("project_id");



CREATE INDEX "idx_operators_project_id" ON "public"."operators" USING "btree" ("project_id");



CREATE INDEX "idx_users_project_id" ON "public"."users" USING "btree" ("project_id");



CREATE OR REPLACE TRIGGER "on_employee_created" AFTER INSERT ON "public"."hr_employees" FOR EACH ROW EXECUTE FUNCTION "public"."create_leave_balances"();



CREATE OR REPLACE TRIGGER "on_ticket_created" AFTER INSERT ON "public"."tickets" FOR EACH ROW EXECUTE FUNCTION "public"."notify_pm_on_new_ticket"();



CREATE OR REPLACE TRIGGER "set_updated_at" BEFORE UPDATE ON "public"."employees" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "tr_update_leave_balance" AFTER UPDATE ON "public"."leave_requests" FOR EACH ROW EXECUTE FUNCTION "public"."update_leave_balance_on_approval"();



ALTER TABLE ONLY "public"."assets"
    ADD CONSTRAINT "assets_audited_by_fkey" FOREIGN KEY ("audited_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."attendance"
    ADD CONSTRAINT "attendance_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "public"."employees"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."departments"
    ADD CONSTRAINT "departments_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_department_id_fkey" FOREIGN KEY ("department_id") REFERENCES "public"."departments"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_job_title_id_fkey" FOREIGN KEY ("job_title_id") REFERENCES "public"."job_titles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_manager_id_fkey" FOREIGN KEY ("manager_id") REFERENCES "public"."employees"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."departments"
    ADD CONSTRAINT "fk_dept_manager" FOREIGN KEY ("manager_id") REFERENCES "public"."employees"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."hr_attendance"
    ADD CONSTRAINT "hr_attendance_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "public"."hr_employees"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."hr_leave_balances"
    ADD CONSTRAINT "hr_leave_balances_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "public"."hr_employees"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."hr_leave_requests"
    ADD CONSTRAINT "hr_leave_requests_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "public"."hr_employees"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."hr_payroll"
    ADD CONSTRAINT "hr_payroll_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "public"."hr_employees"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."hr_profiles"
    ADD CONSTRAINT "hr_profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."leave_balances"
    ADD CONSTRAINT "leave_balances_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "public"."employees"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."leave_balances"
    ADD CONSTRAINT "leave_balances_policy_id_fkey" FOREIGN KEY ("policy_id") REFERENCES "public"."leave_policies"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."leave_requests"
    ADD CONSTRAINT "leave_requests_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "public"."employees"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."leave_requests"
    ADD CONSTRAINT "leave_requests_manager_id_fkey" FOREIGN KEY ("manager_id") REFERENCES "public"."employees"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."leave_requests"
    ADD CONSTRAINT "leave_requests_policy_id_fkey" FOREIGN KEY ("policy_id") REFERENCES "public"."leave_policies"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."maintenance_requests"
    ADD CONSTRAINT "maintenance_requests_supervisor_id_fkey" FOREIGN KEY ("supervisor_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."operators"
    ADD CONSTRAINT "operators_supervisor_id_fkey" FOREIGN KEY ("supervisor_id") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



CREATE POLICY "Admins can manage attendance" ON "public"."hr_attendance" USING ("public"."is_admin"());



CREATE POLICY "Admins can manage employees" ON "public"."hr_employees" USING ("public"."is_admin"());



CREATE POLICY "Admins can manage holidays" ON "public"."hr_holidays" USING (((("auth"."uid"() IS NOT NULL) AND (EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = ("auth"."uid"())::"text") AND ("profiles"."role" = ANY (ARRAY['super_admin'::"public"."user_role", 'power_admin'::"public"."user_role", 'it_specialist'::"public"."user_role"])))))) OR ("auth"."role"() = 'anon'::"text")));



CREATE POLICY "Admins can manage leave balances" ON "public"."hr_leave_balances" USING ("public"."is_admin"());



CREATE POLICY "Admins can manage leave requests" ON "public"."hr_leave_requests" USING ("public"."is_admin"());



CREATE POLICY "Admins can manage payroll" ON "public"."hr_payroll" USING ("public"."is_admin"());



CREATE POLICY "Admins can manage profiles" ON "public"."hr_profiles" USING ("public"."is_admin"());



CREATE POLICY "Admins manage balances" ON "public"."leave_balances" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['super_admin'::"text", 'power_admin'::"text", 'project_manager'::"text"]))))));



CREATE POLICY "Admins manage policies" ON "public"."leave_policies" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['super_admin'::"text", 'power_admin'::"text"]))))));



CREATE POLICY "Allow HR/Admins to mutate departments" ON "public"."departments" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['super_admin'::"text", 'power_admin'::"text", 'project_manager'::"text"]))))));



CREATE POLICY "Allow HR/Admins to mutate job titles" ON "public"."job_titles" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['super_admin'::"text", 'power_admin'::"text", 'project_manager'::"text"]))))));



CREATE POLICY "Allow authenticated read for departments" ON "public"."departments" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow authenticated read for job titles" ON "public"."job_titles" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Anyone can view holidays" ON "public"."hr_holidays" FOR SELECT USING (true);



CREATE POLICY "Assets full access" ON "public"."assets" USING (true) WITH CHECK (true);



CREATE POLICY "Everyone reads policies" ON "public"."leave_policies" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "HR/Admins can manage employees" ON "public"."employees" USING ((("auth"."role"() = 'authenticated'::"text") AND ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['super_admin'::"text", 'power_admin'::"text"]))))) OR (EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = 'project_manager'::"text") AND ("users"."project_id" = "employees"."project_id")))))));



CREATE POLICY "Insert leave requests" ON "public"."leave_requests" FOR INSERT WITH CHECK (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Logs full access" ON "public"."kpi_logs" USING (true) WITH CHECK (true);



CREATE POLICY "Maintenance full access" ON "public"."maintenance_requests" USING (true) WITH CHECK (true);



CREATE POLICY "Manage attendance" ON "public"."attendance" USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Operators full access" ON "public"."operators" USING (true) WITH CHECK (true);



CREATE POLICY "PMs can view tickets for their projects" ON "public"."tickets" FOR SELECT USING ((("auth"."uid"())::"text" = ("pm_id")::"text"));



CREATE POLICY "PMs/Admins can update tickets" ON "public"."tickets" FOR UPDATE USING (((("auth"."uid"())::"text" = ("pm_id")::"text") OR (EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = ("auth"."uid"())::"text") AND ("profiles"."role" = ANY (ARRAY['super_admin'::"public"."user_role", 'power_admin'::"public"."user_role"])))))));



CREATE POLICY "Prevent editing finalized payroll" ON "public"."hr_payroll" FOR UPDATE USING ((("status" <> 'finalized'::"text") OR (( SELECT "hr_payroll_1"."status"
   FROM "public"."hr_payroll" "hr_payroll_1"
  WHERE ("hr_payroll_1"."id" = "hr_payroll_1"."id")) <> 'finalized'::"text")));



CREATE POLICY "Profiles full access" ON "public"."profiles" USING (true) WITH CHECK (true);



CREATE POLICY "Projects full access" ON "public"."projects" USING (true) WITH CHECK (true);



CREATE POLICY "Read attendance" ON "public"."attendance" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Read leave balances" ON "public"."leave_balances" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Read leave requests" ON "public"."leave_requests" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Requests full access" ON "public"."unlock_requests" USING (true) WITH CHECK (true);



CREATE POLICY "Super Admins can view all tickets" ON "public"."tickets" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = ("auth"."uid"())::"text") AND ("profiles"."role" = ANY (ARRAY['super_admin'::"public"."user_role", 'power_admin'::"public"."user_role"]))))));



CREATE POLICY "Team Stats full access" ON "public"."team_stats" USING (true) WITH CHECK (true);



CREATE POLICY "Tickets full access" ON "public"."tickets" USING (true) WITH CHECK (true);



CREATE POLICY "Update leave requests" ON "public"."leave_requests" FOR UPDATE USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Users can create leave requests" ON "public"."hr_leave_requests" FOR INSERT WITH CHECK (true);



CREATE POLICY "Users can create tickets" ON "public"."tickets" FOR INSERT WITH CHECK ((("auth"."uid"())::"text" = ("created_by")::"text"));



CREATE POLICY "Users can read own profile" ON "public"."hr_profiles" FOR SELECT USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can view active employees" ON "public"."hr_employees" FOR SELECT USING ((("status" = 'active'::"text") OR "public"."is_admin"()));



CREATE POLICY "Users can view all attendance" ON "public"."hr_attendance" FOR SELECT USING (true);



CREATE POLICY "Users can view employees in their project" ON "public"."employees" FOR SELECT USING ((("auth"."role"() = 'authenticated'::"text") AND (("project_id" IN ( SELECT "users"."project_id"
   FROM "public"."users"
  WHERE ("users"."id" = "auth"."uid"()))) OR (EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['super_admin'::"text", 'power_admin'::"text"]))))))));



CREATE POLICY "Users can view finalized payroll" ON "public"."hr_payroll" FOR SELECT USING ((("status" = 'finalized'::"text") OR "public"."is_admin"()));



CREATE POLICY "Users can view leave balances" ON "public"."hr_leave_balances" FOR SELECT USING (true);



CREATE POLICY "Users can view leave requests" ON "public"."hr_leave_requests" FOR SELECT USING (true);



CREATE POLICY "Users can view own leave requests" ON "public"."hr_leave_requests" FOR SELECT USING (((EXISTS ( SELECT 1
   FROM "public"."hr_employees" "e"
  WHERE ((("e"."id")::"text" = ("hr_leave_requests"."employee_id")::"text") AND ((("auth"."uid"())::"text" = ("e"."id")::"text") OR "public"."is_hr_admin"())))) OR ("auth"."role"() = 'anon'::"text")));



CREATE POLICY "Users can view their own created tickets" ON "public"."tickets" FOR SELECT USING ((("auth"."uid"())::"text" = ("created_by")::"text"));



ALTER TABLE "public"."assets" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."attendance" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."departments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."employees" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."hr_attendance" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."hr_employees" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."hr_holidays" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."hr_leave_balances" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."hr_leave_requests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."hr_payroll" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."hr_profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."job_titles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."kpi_logs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."leave_balances" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."leave_policies" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."leave_requests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."maintenance_requests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."operators" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."projects" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."team_stats" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tickets" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."unlock_requests" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";









GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";





























































































































































































GRANT ALL ON FUNCTION "public"."create_leave_balances"() TO "anon";
GRANT ALL ON FUNCTION "public"."create_leave_balances"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_leave_balances"() TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_next_asset_tag"("year_prefix" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."generate_next_asset_tag"("year_prefix" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_next_asset_tag"("year_prefix" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_dashboard_metrics"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_dashboard_metrics"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_dashboard_metrics"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."hr_approve_leave"("p_leave_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."hr_approve_leave"("p_leave_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."hr_approve_leave"("p_leave_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."hr_delete_employees"("p_ids" "uuid"[]) TO "anon";
GRANT ALL ON FUNCTION "public"."hr_delete_employees"("p_ids" "uuid"[]) TO "authenticated";
GRANT ALL ON FUNCTION "public"."hr_delete_employees"("p_ids" "uuid"[]) TO "service_role";



GRANT ALL ON FUNCTION "public"."hr_reject_leave"("p_leave_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."hr_reject_leave"("p_leave_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."hr_reject_leave"("p_leave_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_status" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_status" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_status" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_employee_code" "text", "p_address" "text", "p_insurance_number" "text", "p_insurance_date" "date", "p_status" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_employee_code" "text", "p_address" "text", "p_insurance_number" "text", "p_insurance_date" "date", "p_status" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_employee_code" "text", "p_address" "text", "p_insurance_number" "text", "p_insurance_date" "date", "p_status" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_employee_code" "text", "p_address" "text", "p_insurance_number" "text", "p_insurance_date" "date", "p_insurance_salary" numeric, "p_status" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_employee_code" "text", "p_address" "text", "p_insurance_number" "text", "p_insurance_date" "date", "p_insurance_salary" numeric, "p_status" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."hr_update_employee"("p_id" "uuid", "p_full_name" "text", "p_email" "text", "p_phone" "text", "p_national_id" "text", "p_gender" "text", "p_date_of_birth" "date", "p_education" "text", "p_hire_date" "date", "p_job_title" "text", "p_department" "text", "p_project" "text", "p_basic_salary" numeric, "p_variable_salary" numeric, "p_employee_code" "text", "p_address" "text", "p_insurance_number" "text", "p_insurance_date" "date", "p_insurance_salary" numeric, "p_status" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "service_role";



GRANT ALL ON FUNCTION "public"."is_hr_admin"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_hr_admin"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_hr_admin"() TO "service_role";



GRANT ALL ON FUNCTION "public"."notify_pm_on_new_ticket"() TO "anon";
GRANT ALL ON FUNCTION "public"."notify_pm_on_new_ticket"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."notify_pm_on_new_ticket"() TO "service_role";



GRANT ALL ON FUNCTION "public"."register_assets_bulk"("assets_data" "jsonb", "year_prefix" "text", "project_id_input" "uuid", "user_id_input" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."register_assets_bulk"("assets_data" "jsonb", "year_prefix" "text", "project_id_input" "uuid", "user_id_input" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."register_assets_bulk"("assets_data" "jsonb", "year_prefix" "text", "project_id_input" "uuid", "user_id_input" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."run_monthly_leave_accruals"() TO "anon";
GRANT ALL ON FUNCTION "public"."run_monthly_leave_accruals"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."run_monthly_leave_accruals"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_leave_balance_on_approval"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_leave_balance_on_approval"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_leave_balance_on_approval"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";
























GRANT ALL ON TABLE "public"."assets" TO "anon";
GRANT ALL ON TABLE "public"."assets" TO "authenticated";
GRANT ALL ON TABLE "public"."assets" TO "service_role";



GRANT ALL ON TABLE "public"."attendance" TO "anon";
GRANT ALL ON TABLE "public"."attendance" TO "authenticated";
GRANT ALL ON TABLE "public"."attendance" TO "service_role";



GRANT ALL ON TABLE "public"."departments" TO "anon";
GRANT ALL ON TABLE "public"."departments" TO "authenticated";
GRANT ALL ON TABLE "public"."departments" TO "service_role";



GRANT ALL ON TABLE "public"."employees" TO "anon";
GRANT ALL ON TABLE "public"."employees" TO "authenticated";
GRANT ALL ON TABLE "public"."employees" TO "service_role";



GRANT ALL ON TABLE "public"."hr_attendance" TO "anon";
GRANT ALL ON TABLE "public"."hr_attendance" TO "authenticated";
GRANT ALL ON TABLE "public"."hr_attendance" TO "service_role";



GRANT ALL ON TABLE "public"."hr_employees" TO "anon";
GRANT ALL ON TABLE "public"."hr_employees" TO "authenticated";
GRANT ALL ON TABLE "public"."hr_employees" TO "service_role";



GRANT ALL ON TABLE "public"."hr_holidays" TO "anon";
GRANT ALL ON TABLE "public"."hr_holidays" TO "authenticated";
GRANT ALL ON TABLE "public"."hr_holidays" TO "service_role";



GRANT ALL ON TABLE "public"."hr_leave_balances" TO "anon";
GRANT ALL ON TABLE "public"."hr_leave_balances" TO "authenticated";
GRANT ALL ON TABLE "public"."hr_leave_balances" TO "service_role";



GRANT ALL ON TABLE "public"."hr_leave_requests" TO "anon";
GRANT ALL ON TABLE "public"."hr_leave_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."hr_leave_requests" TO "service_role";



GRANT ALL ON TABLE "public"."hr_payroll" TO "anon";
GRANT ALL ON TABLE "public"."hr_payroll" TO "authenticated";
GRANT ALL ON TABLE "public"."hr_payroll" TO "service_role";



GRANT ALL ON TABLE "public"."hr_profiles" TO "anon";
GRANT ALL ON TABLE "public"."hr_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."hr_profiles" TO "service_role";



GRANT ALL ON TABLE "public"."job_titles" TO "anon";
GRANT ALL ON TABLE "public"."job_titles" TO "authenticated";
GRANT ALL ON TABLE "public"."job_titles" TO "service_role";



GRANT ALL ON TABLE "public"."kpi_logs" TO "anon";
GRANT ALL ON TABLE "public"."kpi_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."kpi_logs" TO "service_role";



GRANT ALL ON TABLE "public"."leave_balances" TO "anon";
GRANT ALL ON TABLE "public"."leave_balances" TO "authenticated";
GRANT ALL ON TABLE "public"."leave_balances" TO "service_role";



GRANT ALL ON TABLE "public"."leave_policies" TO "anon";
GRANT ALL ON TABLE "public"."leave_policies" TO "authenticated";
GRANT ALL ON TABLE "public"."leave_policies" TO "service_role";



GRANT ALL ON TABLE "public"."leave_requests" TO "anon";
GRANT ALL ON TABLE "public"."leave_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."leave_requests" TO "service_role";



GRANT ALL ON TABLE "public"."maintenance_requests" TO "anon";
GRANT ALL ON TABLE "public"."maintenance_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."maintenance_requests" TO "service_role";



GRANT ALL ON TABLE "public"."operators" TO "anon";
GRANT ALL ON TABLE "public"."operators" TO "authenticated";
GRANT ALL ON TABLE "public"."operators" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."projects" TO "anon";
GRANT ALL ON TABLE "public"."projects" TO "authenticated";
GRANT ALL ON TABLE "public"."projects" TO "service_role";



GRANT ALL ON TABLE "public"."team_stats" TO "anon";
GRANT ALL ON TABLE "public"."team_stats" TO "authenticated";
GRANT ALL ON TABLE "public"."team_stats" TO "service_role";



GRANT ALL ON TABLE "public"."tickets" TO "anon";
GRANT ALL ON TABLE "public"."tickets" TO "authenticated";
GRANT ALL ON TABLE "public"."tickets" TO "service_role";



GRANT ALL ON TABLE "public"."unlock_requests" TO "anon";
GRANT ALL ON TABLE "public"."unlock_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."unlock_requests" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































